<%= form_for @pay do |f| %>
  <table class="table table-striped table-dark">
    <% if session[:temp]=='edit' %>
      <tr>
        <td class="font-beba-small" style="vertical-align:middle;"><a href="<%= edit_user_path(@pay) %>" style="color:grey; text-decoration:none;">Login Details</a></td>
        <td class="font-beba-small" style="vertical-align:middle;"><a href="<%= edit_detail_path(@pay) %>" style="color:grey; text-decoration:none;">Personal Details</a></td>
        <td class="font-beba-small" style="vertical-align:middle;"><a href="<%= edit_emergency_path(@pay) %>" style="color:grey; text-decoration:none;">Other Details</a></td>
        <td class="font-beba-small active-tab" style="vertical-align:middle;"><a href="#" style="color:white; text-decoration:none;">Salary Details</a></td>
      </tr>
    <% else %>
      <tr>
        <td class="font-beba-small" style="vertical-align:middle; color:grey;">Login Details</td>
        <td class="font-beba-small" style="vertical-align:middle; color:grey;">Personal Details</td>
        <td class="font-beba-small" style="vertical-align:middle; color:grey;">Other Details</td>
        <td class="font-beba-small active-tab" style="vertical-align:middle;">Salary Details</td>
      </tr>
    <% end%>
    <tr>
      <td><%= f.label "Basic Pay" %></td>
      <td><%= f.number_field :basic, :min=>0%><span style="color:white;"><%= @pay.errors[:basic][0] rescue nil%></span></td>
      <td colspan="2"></td>
    </tr>

    <tr>

      <td><%= f.label "Reimbursment" %></td>
      <td><%= f.number_field :reimb, :min=>0%><span style="color:white;"><%= @pay.errors[:reimb][0] rescue nil%></span></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td colspan="4"><b>DEDUCTIONS</b></td>
    </tr>

    <tr>
      <td><%= f.label "Number of Leaves in days" %></td>
      <td><%= f.number_field :days, :min=>0, :max=>30%><span style="color:white;"><%= @pay.errors[:days][0] rescue nil%></span></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td><%= f.label "Other Deductions" %></td>
      <td><%= f.number_field :deduction, :min=>0%><span style="color:white;"><%= @pay.errors[:deduction][0] rescue nil%></span></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td><%= f.submit "Submit" %></td>
      <td colspan="3"></td>
    </tr>
  </table>
<% end %>
