<%= form_for @pay do |f| %>
  <table class="table table-striped table-dark">
    <tr>
      <td><%= f.label "Basic Pay" %></td>
      <td><%= f.number_field :basic, :min=>0, :default=> 0 %></td>
      <td colspan="2"></td>
    </tr>

    <tr>

      <td><%= f.label "Reimbursment" %></td>
      <td><%= f.number_field :reimb, :min=>0, :default=> 0 %></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td colspan="4"><b>DEDUCTIONS</b></td>
    </tr>

    <tr>
      <td><%= f.label "Number of Leaves in days" %></td>
      <td><%= f.number_field :days, :min=>0, :default=> 0 %></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td><%= f.label "Other Deductions" %></td>
      <td><%= f.number_field :deduction, :min=>0, :default=> 0 %></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td><%= f.submit "Submit" %></td>
      <td colspan="3"></td>
    </tr>
  </table>
<% end %>
